<mat-toolbar 
  [class.fixed]="navIsFixed" 
  color="primary" 
  class="mat-elevation-z2 barraSuperior"
  #barraSuperior>

  <span>Tarefas</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <span class="texto-menor">Daniel e Gissela</span>

  <!-- MENU -->
  <mat-menu #appMenu="matMenu" overlapTrigger="false">

    <button mat-menu-item (click)="revelaUsuario()">      
      <mat-icon>account_circle</mat-icon>
      <span>Usuário</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="fazerLogOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
    
  </mat-menu>
  
  <!-- BUTTON ACCESS MENU -->
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

</mat-toolbar>
