.btnConcluir {
    height: 100%;
    color: green;
}

.btnAFazer {
    height: 100%;
    color: blue;
}

.btnExcluir {
    height: 100%;
    margin-left: 10px;
    color: rgb(212, 80, 80);
}

mat-toolbar {
    background-color: rgb(169, 181, 194);
}

div {
    height: 70%;
}