<mat-list-item (click)="executeAction('selectTarefa')">

  <div class="itens">

    <div class="itemCheck">
      <mat-checkbox (click)="executeAction('checkTarefa'); $event.stopPropagation()"></mat-checkbox>
    </div>

    <div class="itemTitulo">
      <div>
        <p>{{ tarefa.titulo }}</p>
      </div>
      
      <div>
        <span 
          [style.color]="prioridadeColor">{{ descricao }}
        </span>
      </div>
    </div>
    
    <div class="itemToggle">
      <mat-slide-toggle 
        [checked]="tarefa.feito" 
        (click)="executeAction('performTarefa'); $event.stopPropagation()">
      </mat-slide-toggle>
    </div>

  </div>

</mat-list-item>