h2, button {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

mat-dialog-content {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
    padding-bottom: 4vh;
}

mat-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}