<div class="conteudo">
  
    <div class="titulo center">
      <h1>
        Sistema de Tarefas
      </h1> 
    </div>

    <mat-card class="example-container center">
      <h3>Faça o Login</h3>

      <mat-form-field class="w80">
        <input 
          [(ngModel)]="usuario.email" 
          matInput id="usuario" 
          type="email" 
          placeholder="Email">
      </mat-form-field>

      <mat-form-field class="w80">
        <input 
          [(ngModel)]="usuario.senha" 
          matInput 
          placeholder="Entre com a sua senha" 
          [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      
      <button 
      mat-raised-button
      (click)="tryLogin()"
      type="submit" 
      color="primary">Login
    </button>
    
    <p>
      <small class="error" style="color: red">{{errorMessage}}</small>
    </p>

    </mat-card>

</div>
