.example-fill-remaining-space{
      /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.texto-menor{
    font-size: 0.8em;
}

.listagem {
    padding-bottom: 12vh;
}