<div class="container">

  <app-barra-superior 
    class="fixed" (LogOut)="fazerLogOut()">
  </app-barra-superior>  

  <mat-spinner 
    class="sppiner" 
    diameter="50" 
    strokeWidth="3" 
    *ngIf="loading">
  </mat-spinner>

  <mat-nav-list class="listagem">

    <div *ngFor="let tarefa of tarefasRealizar; let first = first">

      <h2 mat-subheader *ngIf="first"
        style="background-color: rgb(219, 229, 243)">
        <span>TAREFAS A FAZER</span>
        <span class="fill-remaining-space"></span>
        <span>T: {{ tarefasRealizar.length | number: '2.0' }}</span>
      </h2>

      <mat-divider></mat-divider>
      
      <app-tarefa-item
        [tarefa]="tarefa"
        [prioridades]="prioridades" 
        (performTarefa)="onPerformTarefa($event)" 
        (selectTarefa)="selectTarefa=$event"
        (checkTarefa)="onCheckTarefa($event)"
        [matMenuTriggerFor]="menu"
        [matMenuTriggerData]="{tarefaToUpdateOrDelete: tarefa}">
      </app-tarefa-item>
    </div>

    <!-- <mat-divider></mat-divider> -->

    <div *ngFor="let tarefa of tarefasConcluidas; let first = first">

      <h2 mat-subheader *ngIf="first"
        style="background-color: rgb(219, 229, 243)">
        <span>TAREFAS CONCLUÍDAS</span>
        <span class="fill-remaining-space"></span>
        <span>T: {{ tarefasConcluidas.length | number: '2.0' }}</span>
      </h2>

      <mat-divider></mat-divider>
          
      <app-tarefa-item 
        [tarefa]="tarefa"
        [prioridades]="prioridades"
        (performTarefa)="onPerformTarefa($event)" 
        (selectTarefa)="selectTarefa=$event"
        (checkTarefa)="onCheckTarefa($event)"
        [matMenuTriggerFor]="menu"
        [matMenuTriggerData]="{tarefaToUpdateOrDelete: tarefa}">
      </app-tarefa-item>
        
    </div>
  </mat-nav-list>

  <!-- MENU DE EDICAO -->
  <mat-menu #menu="matMenu" overlapTrigger="false">
    <ng-template matMenuContent let-tarefa="tarefaToUpdateOrDelete">

      <button mat-menu-item (click)="showDialog(tarefa)">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>

      <button mat-menu-item (click)="onDelete(tarefa)">
        <mat-icon>delete</mat-icon>
        <span>Remover</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item [matMenuTriggerFor]="itensPrioridade">Prioridade</button>

      <mat-menu #itensPrioridade="matMenu">
        <button mat-menu-item
          (click)="alteraPrioridade(prioridade.value, tarefa)"
          *ngFor="let prioridade of prioridades">{{ prioridade.descricao }}
        </button>
      </mat-menu>

    </ng-template>
  </mat-menu>

  <!-- ADD BUTTON -->
  <button mat-fab class="fab-botton-right buttonAdd" (click)="showDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <!-- BARRA INFERIOR -->
  <app-barra-inferior 
    [ngClass]="{'barraInferiorVisible': showBarraInf}"
    [barraType]="barraInfType"
    (doConcluirSelect)="ConcluirSelect()"
    (doAFazerSelect)="AFazerSelect()"
    (doExcluirSelect)="ExcluirSelect()">
  </app-barra-inferior>

</div>