<div class="container">

  <app-barra-superior class="fixed"></app-barra-superior>  

  <mat-spinner 
    class="sppiner" 
    diameter="50" 
    strokeWidth="3" 
    *ngIf="loading">
  </mat-spinner>

  <mat-nav-list class="listagem">

    <div *ngFor="let tarefa of tarefasRealizar$ | async; let first = first">

      <h2 mat-subheader *ngIf="first"
        style="background-color: rgb(219, 229, 243)">
        TAREFAS A FAZER
      </h2>
      <mat-divider></mat-divider>
      
      <app-tarefa-item
        [tarefa]="tarefa"
        [prioridades]="prioridades" 
        (performTarefa)="onPerformTarefa($event)" 
        (selectTarefa)="selectTarefa=$event"
        [matMenuTriggerFor]="menu"
        [matMenuTriggerData]="{tarefaToUpdateOrDelete: tarefa}">
      </app-tarefa-item>
    </div>

    <!-- <mat-divider></mat-divider> -->

    <div *ngFor="let tarefa of tarefasConcluidas$ | async as quant; let first = first">

      <h2 mat-subheader *ngIf="first"
        style="background-color: rgb(219, 229, 243)">
        TAREFAS CONCLUÍDAS
      </h2>
          
      <app-tarefa-item 
        [tarefa]="tarefa"
        [prioridades]="prioridades"
        (performTarefa)="onPerformTarefa($event)" 
        (selectTarefa)="selectTarefa=$event"
        [matMenuTriggerFor]="menu"
        [matMenuTriggerData]="{tarefaToUpdateOrDelete: tarefa}">
      </app-tarefa-item>
        
    </div>
  </mat-nav-list>


  <mat-menu #menu="matMenu" overlapTrigger="false">
    <ng-template matMenuContent let-tarefa="tarefaToUpdateOrDelete">

      <button mat-menu-item (click)="showDialog(tarefa)">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>

      <button mat-menu-item (click)="onDelete(tarefa)">
        <mat-icon>delete</mat-icon>
        <span>Remover</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item [matMenuTriggerFor]="itensPrioridade">Prioridade</button>

      <mat-menu #itensPrioridade="matMenu">
        <button mat-menu-item
          (click)="alteraPrioridade(prioridade.value, tarefa)"
          *ngFor="let prioridade of prioridades">{{ prioridade.descricao }}
        </button>
      </mat-menu>

    </ng-template>
  </mat-menu>

  <button mat-fab class="fab-botton-right" (click)="showDialog()">
    <mat-icon>add</mat-icon>
  </button>

</div>