/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0px;
    font-family: Roboto, monospace
}

.fab-botton-right{
    position: fixed !important;
    right: 15px;
    bottom: 15px;
}

.sppiner {
    margin: 30px auto 0 auto;
}

.fill-remaining-space{
    /* This fills the remaining space, by using flexbox. 
   Every toolbar row uses a flexbox row layout. */
flex: 1 1 auto;
}

.texto-menor{
  font-size: 0.8em;
}

.listagem {
  padding-bottom: 7vh;
}

.barraSuperior {
    height: 8vh;
}

.fixed {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

.tarefaItemDescricao {
    padding-left: 3vw;
}